
$font-family: 'Abril Fatface', cursive;
$colorMain: #f3c623 !default;
$padding-left-Sbar: 35px;
$fontSize: 14px;
$width-bar-side: 270px;
$back-body: #111111;

$colorMain2: ();
@for $i from 1 through 10 {
  $colorMain2: append($colorMain2, rgba(255, 255, 255, $i * 0.1));
}

